
  button {   
         background-color: #f1df11;   
         width: 100%;  
          color: black;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid  #f1df11;   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }
    .contain{
        float: left;
    } 
          
   .container {   
          
          padding: 50px;            
          width: 50%;
      }   